/* 
Light (300)

Regular (400)

Medium (500)

Bold (700) 
*/
@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Bold.woff2") format("woff2");
    font-weight: 700;
}

:root{
    --preto: #0a0a0a;
    --rosa: #FF7A80;
    --rosa_hover: #FF5F66;
    --branco: #FFFFFF;
    --cinza: #B3B3B3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BL Melody", sans-serif;
}
body{
    background-color: var(--preto);
    color: var(--branco);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: transparent;
    transition: background 0.3s ease;

    color: var(--rosa);
}

.header.scrolled{
    background: var(--preto);
}
.header .menu{
    font-size: 28px;
    cursor: pointer;
}

.header .logo{
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
}

.header .logo img{
    width: 40px;
}

.header .cadastro{
    display: flex;
    gap: 20px;
    font-weight: 400;
}

.header .cadastro a{
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
    transition: color 0.3s ease;
    color: var(--rosa);
}

.fundo_header{
    display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(
            rgba(10,10,10,0.2) 0%,
            rgba(10,10,10,0.5) 50%,
            #0A0A0A 100%
        ),
        url("../images/garagem.png");


    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.conteudo_header{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.fundo_header .titulo_header{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.fundo_header .titulo_header h1{
    font-size:150px;
    font-weight:700;
    color: var(--rosa);
}

/* botao de cima da pagina */

.header_pesquisa {
    --input-line: #cccccc;
    --input-text-color: #808080;
    --input-text-hover-color: transparent;
    --input-border-color: #808080;
    --input-border-hover-color: #999999;
    --input-bg-color: #333333;
    --search-max-width: 250px;
    --search-min-width: 150px;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);

    display: flex;
    justify-content: center;
    width: 100%;

}

.caixa_header {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: var(--transition-cubic-bezier);
  width: 100%;
  margin: 0 auto;
}

.caixa_header:hover {
  border-color: var(--input-border-hover-color);
}

.elemento_pesquisa_header {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.elemento_pesquisa_header .input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: var(--input-line);
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.elemento_pesquisa_header .input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.elemento_pesquisa_header .input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.elemento_pesquisa_header .input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.elemento_pesquisa_header .input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
}

.elemento_pesquisa_header .input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

.caixa_header_icone {
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.caixa_header_icone:hover {
  background: var(--input-border-color);
}

.botao_conteudo_header_icone {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: .4;
}

.botao_conteudo_header_icone :hover {
  opacity: .8;
}

.icone_pesquisa_header {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}
