/* 
Light (300)

Regular (400)

Medium (500)

Bold (700) 
*/
@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "BL Melody";
    src: url("../fonts/BLMelody-Bold.woff2") format("woff2");
    font-weight: 700;
}

:root{
    --preto: #0a0a0a;
    --rosa: #FF7A80;
    --rosa_hover: #FF5F66;
    --branco: #FFFFFF;
    --cinza: #B3B3B3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BL Melody", sans-serif;
}
body{
    background-color: var(--preto);
    color: var(--branco);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    background: transparent;
    transition: background 0.3s ease;

    color: var(--rosa);
}

.header.scrolled{
    background: var(--preto);
}
.header .menu{
    font-size: 28px;
    cursor: pointer;
}

.header .logo{
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
}

.header .logo img{
    width: 40px;
}

.header .cadastro{
    display: flex;
    gap: 20px;
    font-weight: 400;
}

.header .cadastro a{
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
    transition: color 0.3s ease;
    color: var(--rosa);
}

.fundo_header{
    width:100%;
    height:100vh;

    background-image:
        linear-gradient(
            rgba(10,10,10,0.2) 0%,
            rgba(10,10,10,0.5) 50%,
            #0A0A0A 100%
        ),
        url("../images/garagem.png");


    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.fundo_header .titulo_header{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fundo_header .titulo_header h1{
    font-size:120px;
    font-weight:700;
    letter-spacing:4px;
    color: var(--rosa);
}